@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in-delayed {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in-bounce {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  85% {
    opacity: 0;
    transform: translateY(-100px); }
  90% {
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
.done * {
  transition: all 0.3s ease; }

.top-img {
  display: block;
  height: 66.7%;
  width: 100%;
  background: url(../img/itsme.jpg) no-repeat center center;
  background-size: cover; }

html, body {
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: "Bitter", "Helvetica Neue", sans-serif;
  color: #201d1e; }

p a {
  text-decoration: none;
  color: #201d1e;
  border-bottom: 1px solid #201d1e; }
  p a:active, p a :visited:active {
    color: rgba(32, 29, 30, 0.6);
    border-bottom-color: rgba(32, 29, 30, 0.6); }

.body {
  background-color: #e0bfa9;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  animation: fade-in 1s ease-in-out; }

.title {
  width: 500px;
  text-align: center;
  color: #201d1e;
  font-size: 75px;
  font-family: "Slabo 27px", Verdana, sans-serif;
  text-decoration: none; }
  @media (max-width: 600px) {
    .title {
      font-size: 64px; } }
  @media (max-width: 400px) {
    .title {
      font-size: 42px; } }

.about-me {
  font-size: 36px;
  margin: 30px;
  min-height: 50px; }
  @media (max-width: 600px) {
    .about-me {
      font-size: 22px; } }
  @media (max-width: 400px) {
    .about-me {
      font-size: 20px; } }

.long-about {
  font-size: 22px;
  margin: 10px 20%;
  text-align: justify; }
  @media (max-width: 900px) {
    .long-about {
      font-size: 20px;
      margin: 10px 5%; } }
  @media (max-width: 400px) {
    .long-about {
      font-size: 16px;
      margin: 10px 5%; } }

.profiles {
  width: 90%;
  margin: auto;
  padding: 0;
  animation: fade-in-delayed 2s ease-in-out; }

.profile {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  padding: 10px;
  margin: 0; }

::selection {
  background: black;
  color: white; }
