@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade-in-delayed {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in-delayed {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade-in-bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  85% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  90% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
@keyframes fade-in-bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  85% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  90% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
.done * {
  -webkit-transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, top 0.3s ease, right 0.3s ease, bottom 0.3s ease, left 0.3s ease, -webkit-transform 0.3s ease, opacity 0.3s ease;
          transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, top 0.3s ease, right 0.3s ease, bottom 0.3s ease, left 0.3s ease, transform 0.3s ease, opacity 0.3s ease; }

.top-img {
  display: block;
  height: 66.7%;
  width: 100%;
  background: url(../img/itsme.jpg) no-repeat center center;
  background-size: cover; }

html, body {
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Bitter", "Helvetica Neue", sans-serif;
  color: #3b3537; }

p a {
  text-decoration: none;
  color: #3b3537;
  border-bottom: 1px solid #3b3537; }
  p a:active, p a :visited:active {
    color: firebrick;
    border-bottom-color: rgba(59, 53, 55, 0.6); }

.body {
  overflow-x: hidden;
  background-color: #e9d3c3;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  -webkit-animation: fade-in 1s ease-in-out;
          animation: fade-in 1s ease-in-out; }

.title {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  width: 500px;
  text-align: center;
  color: #3b3537;
  font-size: 75px;
  font-family: "Slabo 27px", Verdana, sans-serif;
  text-decoration: none; }
  @media (max-width: 600px) {
    .title {
      font-size: 64px; } }
  @media (max-width: 400px) {
    .title {
      font-size: 42px; } }

.about-me {
  font-size: 36px;
  margin: 30px;
  min-height: 50px; }
  @media (max-width: 600px) {
    .about-me {
      font-size: 22px; } }
  @media (max-width: 400px) {
    .about-me {
      font-size: 20px; } }

.long-about {
  font-size: 22px;
  margin: 10px 20%;
  text-align: justify; }
  @media (max-width: 900px) {
    .long-about {
      font-size: 20px;
      margin: 10px 5%; } }
  @media (max-width: 400px) {
    .long-about {
      font-size: 16px;
      margin: 10px 5%; } }

.profiles {
  width: 90%;
  margin: auto;
  padding: 0;
  -webkit-animation: fade-in-delayed 2s ease-in-out;
          animation: fade-in-delayed 2s ease-in-out; }

.profile {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  padding: 10px;
  margin: 0; }
  .profile:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .profile:active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }

::-moz-selection {
  background: black;
  color: white;
  transform: skewY(-5deg); }

::selection {
  background: black;
  color: white;
  -webkit-transform: skewY(-5deg);
      -ms-transform: skewY(-5deg);
          transform: skewY(-5deg); }

* {
  -webkit-tap-highlight-color: transparent; }
