* {
	box-sizing: boder-box;
}

html {
	background: rgb(230, 230, 230);
}

p {
	font-family: Oxygen, "Helvetica Neue", sans-serif;
}

.body {
	margin: auto;
	text-align: center;
}

.title  {
	width: 100%;
	text-align: center;
	color: rgb(25, 25, 25);
	font-size: 62px;
	font-family: "News Cycle", Verdana, sans-serif;
	text-decoration: none;
}
