$background-color: rgb(35, 35, 35);

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-in-bounce {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	85% {
		opacity: 0;
		transform: translateY(-100px);
	}
	90% {
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

* {
	box-sizing: boder-box;
}

html, body {
	background: $background-color;
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: Oxygen, "Helvetica Neue", sans-serif;
	color: white;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

.done * {
	transition: all 0.3s ease;
}

p {
	font-size: 42px;
	margin: 30px;
	@media (max-width: 600px) {
		font-size: 22px;
	}
	@media (max-width: 400px) {
		font-size: 16px;
	}
}

.body {
	margin: auto;
	text-align: center;
	animation: fade-in 0.5s ease-in-out;
}

.title  {
	width: 50%;
	text-align: center;
	color: rgb(250, 250, 250);
	font-size: 120px;
	font-family: "News Cycle", Verdana, sans-serif;
	text-decoration: none;
	@media (max-width: 600px) {
		font-size: 64px;
	}
	@media (max-width: 400px) {
		font-size: 42px;
	}
}

.about-me {
	animation: fade-in-bounce 1s ease-in-out;
}

.profiles {
	width: 80%;
	margin: auto;
	animation: fade-in-bounce 2.5s ease-in-out;
}

.profile {
	width: 180px;
	height: 180px;
	border-radius: 5px;
	padding: 10px;
	margin: 0;
	@media (max-width: 800px) {
		width: 120px;
		height: 120px;
	}
	&:hover {
		transform: scale(1.05);
	}
}

::selection {
	background: white;
	color: black;
}
