$background-color: lighten(rgb(224, 191, 169), 7%);
$text-color: lighten(rgb(32, 29, 30), 10%);

@import "animations";

.done * {
	transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, top 0.3s ease, right 0.3s ease, bottom 0.3s ease, left 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.top-img {
	// background: $background-color;
	display: block;
	height: 66.7%;
	width: 100%;
	// max-width: 95%;
	// max-height: 90%;
	// margin: 0 auto;
	background: url(../img/itsme.jpg) no-repeat center center;
	background-size: cover;
}

html, body {
	// background: $background-color;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	// overflow-x: hidden;
	height: 100%;
	font-family: "Bitter", "Helvetica Neue", sans-serif;
	color: $text-color;
}

p a {
	text-decoration: none;
	color: $text-color;
	border-bottom: 1px solid $text-color;
	&:active, :visited:active {
		color: firebrick;
		border-bottom-color: firebrick;
	}
}

.body {
	overflow-x: hidden;
	background-color: $background-color;
	padding-bottom: 20px;
	padding-top: 30px;
	text-align: center;
	animation: fade-in 1s ease-in-out;
}

.title  {
	transform: scale(2);
	width: 500px;
	text-align: center;
	color: $text-color;
	font-size: 75px;
	font-family: "Slabo 27px", Verdana, sans-serif;
	text-decoration: none;
	@media (max-width: 600px) {
		font-size: 64px;
	}
	@media (max-width: 400px) {
		font-size: 42px;
	}
}

.about-me {
	font-size: 36px;
	margin: 30px;
	min-height: 50px;
	@media (max-width: 600px) {
		font-size: 22px;
	}
	@media (max-width: 400px) {
		font-size: 20px;
	}
}

.long-about {
	font-size: 22px;
	margin: 10px 20%;
	text-align: justify;
	@media (max-width: 900px) {
		font-size: 20px;
		margin: 10px 5%;
	}
	@media (max-width: 400px) {
		font-size: 16px;
		margin: 10px 5%;
	}
}

.profiles {
	width: 90%;
	margin: auto;
	padding: 0;
	animation: fade-in-delayed 2s ease-in-out;
}

.profile {
	width: 120px;
	height: 120px;
	border-radius: 120px;
	padding: 10px;
	margin: 0;
	&:hover {
		transform: scale(1.1);
	}
	&:active {
		transform: scale(0.9);
	}
}

::selection {
	background: black;
	color: white;transform: skewY(-5deg);
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
