$background-color: rgb(224, 191, 169);
$text-color: rgb(32, 29, 30);

@import "animations";

.done * {
	transition: all 0.3s ease;
}

.top-img {
	// background: $background-color;
	display: block;
	height: 66.7%;
	width: 100%;
	// max-width: 95%;
	// max-height: 90%;
	// margin: 0 auto;
	background: url(../img/itsme.jpg) no-repeat center center;
	background-size: cover;
}

.body {
	// background-image: linear-gradient(-124deg, #17E871 0%, #17E871 3%, #391DDC 100%);
	background-color: rgb(224, 191, 169);
	padding-bottom: 20px;
}

html, body {
	// background: $background-color;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	height: 100%;
	font-family: "Vollkorn", "Helvetica Neue", sans-serif;
	color: $text-color;
}

p a {
	text-decoration: none;
	color: $text-color;
	border-bottom: 1px solid $text-color;
	&:active, :visited:active {
		color: rgba($text-color, 0.6);
		border-bottom-color: rgba($text-color, 0.6);
	}
}

.body {
	padding-top: 30px;
	text-align: center;
	animation: fade-in 1s ease-in-out;
}

.title  {
	width: 500px;
	text-align: center;
	color: $text-color;
	font-size: 75px;
	font-family: "Slabo 27px", Verdana, sans-serif;
	text-decoration: none;
	@media (max-width: 600px) {
		font-size: 64px;
	}
	@media (max-width: 400px) {
		font-size: 42px;
	}
}

.about-me {
	font-size: 36px;
	margin: 30px;
	min-height: 50px;
	@media (max-width: 600px) {
		font-size: 22px;
	}
	@media (max-width: 400px) {
		font-size: 20px;
	}
}

.long-about {
	font-size: 22px;
	margin: 10px 20%;
	text-align: justify;
	@media (max-width: 900px) {
		font-size: 20px;
		margin: 10px 5%;
	}
	@media (max-width: 400px) {
		font-size: 16px;
		margin: 10px 5%;
	}
}

.profiles {
	width: 90%;
	margin: auto;
	padding: 0;
	animation: fade-in-delayed 2s ease-in-out;
}

.profile {
	width: 120px;
	height: 120px;
	border-radius: 120px;
	padding: 10px;
	margin: 0;
	&:active {
		transform: translateY(10px);
	}
}

::selection {
	background: white;
	color: black;
}

